.footer{
    align-items: center;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    height: 75px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}